@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Nunito:wght@300;400;600;700;800;900&family=Russo+One&family=Spartan:wght@700;800;900&display=swap');

:root {
    --dark: #111111;
    --lightDark: #191919;
    --myDark: #27292d;
    --light: #ffffff;
    --lightGrey: #ddd;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .lorem {
    color: #000000;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.about-section {
    width: 90%;
    max-width: 1200px;
    height: 700px;
    background: var(--lightDark);
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 25%;
    pointer-events: none;
    transform: translate(-50%, -45%) scale(0);
    display: flex;
    overflow: hidden;
    z-index: 1000;
    transition: transform 0.2s ease-in-out, left 0.2s ease-in-out;

    .x-icon {
      background: #666af6;
      background: #27292d;
      border-radius: 50%;
      position: absolute;
      width: 30px;
      height: 30px;
      right: 15px;
      top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.15s ease-in-out;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);

      img {
        vertical-align: middle;
        width: 50%;
      }
    }

    .x-icon:hover {
      transform: rotate(90deg) scale(1.05);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .about-me {
      width: 100%;
      display: flex;
      align-items: center;

      .about-me-text {
        width: 65%;
        margin: 0 auto;

        ul {
          display: flex;
          flex-wrap: wrap;
          font-size: 0.85em;
          li {
            border: 1px solid #444;
            padding: 0.4em 0.8em;
            border-radius: 50px;
            margin-bottom: 0.5em;
            margin-right: 0.5em;
          }
        }

        .about-me-title {
          color: #1788ae;
        }

        .mern {
          margin-bottom: 2.2em;
          margin-top: 2em;
          color: #1788ae;
          /* color: #666AF6; */
        }

        .top-skills-icons {
          display: flex;
          margin-top: 1.5em;
          position: relative;

          h2 {
            margin-top: 0.5em;
          }

          .mongodb-icon .tooltip {
            background-color: #00599C;
            color: var(--light);
          }

          .express-icon .tooltip {
            background-color: yellow;
          }

          .react-icon .tooltip {
            background-color: #61dafb;
          }

          .node-icon .tooltip {
            background-color:#1565C0;
            margin-left: -2px;
            color: var(--light);
          }
        }

        @media (max-width: 1000px) {
          .top-skills-icons {
            justify-content: center;
          }

          .about-me-title,
          .mern {
            text-align: center;
          }

          .about-me-detail {
            width: 90%;
            margin: 0 auto;
            text-align: justify;
          }

          .about-me-detail + .about-me-detail {
            margin-top: 0.75em;
          }
        }

        @media (max-width: 450px) {
          .top-skills-icons {
            justify-content: center;
            font-size: 0.7em;

            svg {
              width: 35px;
              height: 35px;
            }
          }

          .about-me-title,
          .mern {
            text-align: center;
          }

          .mern {
            margin-top: 1em;
            margin-bottom: 1.5em;
          }

          .about-me-detail {
            width: 90%;
            margin: 0 auto;
            text-align: justify;
          }
        }

        .top-skills-icons div {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: context-menu;

          .tooltip {
            background-color: #8cc84b;
            color: var(--dark);
            padding: 0.5em 1.25em;
            font-weight: 600;
            border-radius: 50px;
            position: absolute;
            margin-bottom: 2em;
            top: -1.25em;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
            opacity: 0;
            pointer-events: none;
            transition: top 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55),
              opacity 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          }

          .tooltip::after {
            content: '';
            width: 12px;
            height: 12px;
            background: inherit;
            transform: rotate(45deg);
            position: absolute;
            bottom: -6px;
          }
        }

        .top-skills-icons div:hover .tooltip {
          opacity: 1;
          top: -3.25em;
        }

        .top-skills-icons div + div {
          margin-left: 2em;
        }
      }
    }

    @media (max-width: 370px) {
      .about-me {
        zoom: 90%;
      }
    }

    @media (max-width: 330px) {
      .about-me {
        zoom: 85%;
      }
    }

    .illustration {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;

      .coder-img {
        width: 100%;
      }

      @media (max-width: 1000px) {
        .coder-img {
          width: 60%;
          min-width: 270px;
        }
      }
    }

    @media (max-width: 760px) {
      .illustration {
        display: none;
      }
    }
  }

  @media (max-width: 1000px) {
    .about-section {
      flex-direction: column;
      justify-content: center;
      height: 80vh;
      height: max-content;
      padding: 2em 0;
    }

    .about-me-text {
      width: 90% !important;
    }
  }

  @media (max-width: 450px) {
    .about-section {
      padding: 1em 0;
      height: 550px;
        width: 330px;
        font-size: 14px;
     
        position: absolute;
    }
    
  }

  .about-section.active {
    transform: translate(-50%, -50%) scale(1);
    left: 50%;
    pointer-events: all;
  }
/* 
  #wrapper-canvas {
    z-index: 10;
    pointer-events: scroll;
  }

  @media (max-width: 650px) {
    #wrapper-canvas {
      display: none;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dark);
    opacity: 0;
    z-index: 99;
    pointer-events: none;

    &.active {
      opacity: 0.7;
      pointer-events: all;
    }
  }

  .overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dark);
    opacity: 0.2;
    z-index: 0;
    pointer-events: none;
  }

  @media (max-width: 650px) {
    .overlay2 {
      opacity: 0.4;
    }
  } */

  /* .latest-works-link { */
    /* position: absolute;
    background: linear-gradient(to left, #1595b6, rgba(31, 38, 103, 0.9));
    font-weight: 700;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    bottom: 4em;
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 0.1s ease-in-out;
    z-index: 10; */

    /* @media (max-width: 300px) {
      font-size: 1em;
    }

    &:hover {
      transform: translate(-50%, 0) scale(1.1);
    }

    &:hover + {
      .down-arrow {
        bottom: 1.75em;
      }
    }
  } */

  /* .down-arrow {
    position: absolute;
    bottom: 2em;
    cursor: pointer;
    pointer-events: all;
    left: 50%;
    transform: translate(-60%, 0) rotate(90deg);
    transition: bottom 0.25s ease-in-out;

    &:hover {
      bottom: 1.75em;
    }
  }

  .latest-works-arrow {
    background: #444;
    width: 2px;
    height: 1.5em;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    pointer-events: all;
    left: 50%;
    transform: translate(-50%, 0);

    &:hover ~ {
      .down-arrow {
        bottom: 1.75em;
      }
    }
  } */


/* @media (max-width: 650px) {
  .main-section {
    font-size: 0.9em;
  }
} */

.work-section {
  background: var(--light);
  color: var(--dark);
  position: relative;
  /* // width: 90%; */
  margin: 0 auto;

  h2 {
    text-align: center;
    width: max-content;
    margin: 0 auto;
    padding: 0.2em 0.5em;
    border: 2px solid #1788ae;
    border: 2px solid #1788ae;
    border-top: none;
    border-radius: 0 0 8px 8px;
    font-size: 2.5em;
    background: var(--light);
    position: relative;
    z-index: 5;
    color: #1788ae;
    color: #1788ae;

    @media (max-width: 650px) {
      font-size: 1.5em;
      border: none;
      padding: 0;
      margin-bottom: 0.8em;
      margin-top: 0.5em;
    }
  }

  .project {
    display: flex;
    gap: 5em;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 90%;

    max-width: 1600px;
    margin-bottom: 3em;

    .ejs {
      display: flex;
      align-items: center;
      font-size: 1.2em;
      cursor: default;
      user-select: none;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.85em;
      li {
        border: 1px solid #ddd;
        padding: 0.4em 0.8em;
        border-radius: 50px;
        margin-bottom: 0.5em;
        margin-right: 0.5em;
      }
    }

    .project-img {
      position: relative;
      cursor: pointer;
      display: flex;

      &:nth-child(2) {
        justify-content: flex-end;
      }

      @media (max-width: 650px) {
        &:nth-child(2) {
          justify-content: center;
        }

        &:nth-child(even) {
          order: -1;
        }
      }

      a {
        display: flex;
        justify-content: center;
      }

      .project-img-wrapper {
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
          width: 100%;
          max-width: 400px;
          transition: transform 0.2s ease-in-out;
          z-index: 6;
        }

        @media (max-width: 650px) {
          .visit-site {
            top: initial;
            bottom: -2.5em;
            opacity: 1;
            z-index: 80;
            box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);

            &::after {
              top: -6px;
              opacity: 0;
            }
          }
        }

        @media (min-width: 650px) {
          &:hover {
            img {
              transform: scale(1.2);
            }

            .visit-site {
              top: -4em;
            }
          }
        }
      }

      @media (max-width: 650px) {
        .project-img-wrapper {
          cursor: default;

          a:first-child {
            pointer-events: none;
          }
        }
      }
    }

    @media (max-width: 650px) {
      .project-img {
        justify-content: center;
        margin-bottom: 2em;
      }
    }

    .project-details {
      a {
        color: black;
      }

      span {
        font-size: 1.2em;
      }

      p {
        text-align: justify;
      }
    }

    .circle-dot {
      width: 15px;
      height: 15px;
      background-color: var(--dark);
      background-color: var(--light);
      border: 3px solid #2694d4;
      /* // box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); */
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.05s ease-in-out;
      cursor: pointer;
      z-index: 2;

      &:hover {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }

    @media (max-width: 650px) {
      .circle-dot,
      .circle-extension {
        display: none;
      }
    }

    .circle-extension {
      width: 35%;
      height: 1px;
      background-color: #ddd;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-100%, -50%);
      z-index: 1;
    }

    .visit-site {
      background: #2694d4;
      color: var(--light);
      padding: 0.5em 1em;
      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      transition: top 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      position: absolute;
      z-index: 5;
      top: 10%;
      left: 50%;
      transform: translate(-50%, 0);
      width: max-content;
      svg {
        margin-left: 0.25em;
      }

      &::after {
        content: '';
        width: 12px;
        height: 12px;
        background: inherit;
        transform: rotate(45deg) translate(-50%, 50%);
        position: absolute;
        left: 50%;
        bottom: -6px;
      }
    }

    h3 {
      margin-top: 1em;
      font-size: 2em;
      margin-bottom: 0.2em;
    }

    div {
      width: 100%;
    }
  }

  @media (max-width: 650px) {
    .project {
      flex-direction: column;
      gap: 0;
    }
  }

  .project0 {
    border-radius: 10px;

    .circle-dot {
      border-color: #fc815c;
    }

    h3 {
      color: #fc815c;

      + span {
        color: #fc815c;
      }
    }

    .visit-site {
      background-color: #fc815c;
    }

    .circle-extension {
      background-color: #fc815c;
    }
  }

  .project1 {
    border-radius: 10px;

    .circle-dot {
      border-color: #639;
    }

    h3 {
      color: #639;

      + span {
        color: #639;
      }
    }

    .visit-site {
      background-color: #639;
    }

    .circle-extension {
      transform: translate(0%, -50%);
      background-color: #639;
    }
  }
  .project2 {
    .circle-dot {
      border-color: #47afa1;
    }

    h3 {
      color: #47afa1;

      + span {
        color: #47afa1;
      }
    }

    .visit-site {
      background-color: #47afa1;
    }

    .circle-extension {
      background-color: #47afa1;
    }
  }
  .project3 {
    .circle-dot {
      border-color: #2694d4;
    }

    h3 {
      color: #2694d4;

      + span {
        color: #2694d4;
      }
    }

    .circle-extension {
      transform: translate(0%, -50%);
      background-color: #2694d4;
    }
  }
  .project4 {
    .circle-dot {
      border-color: #fc815c;
    }

    h3 {
      color: #fc815c;

      + span {
        color: #fc815c;
      }
    }

    .visit-site {
      background-color: #fc815c;
    }

    .circle-extension {
      background-color: #fc815c;
    }
  }
  .project5 {
    .circle-dot {
      border-color: #156cdd;
    }

    h3 {
      color: #156cdd;

      + span {
        color: #156cdd;
      }
    }

    .visit-site {
      background-color: #156cdd;
    }

    .circle-extension {
      transform: translate(0%, -50%);
      background-color: #156cdd;
    }

    @media (min-width: 650px) {
      .project-img-wrapper {
        &:hover {
          img {
            transform: scale(1.1) !important;
          }
        }
      }
    }
  }
  .project6 {
    .circle-dot {
      border-color: #ff5553;
    }

    h3 {
      color: #ff5553;

      + span {
        color: #ff5553;
      }
    }

    .visit-site {
      background-color: #ff5553;
    }

    .circle-extension {
      background-color: #ff5553;
    }

    @media (min-width: 650px) {
      .project-img-wrapper {
        &:hover {
          img {
            transform: scale(1.1) !important;
          }
        }
      }
    }
  }

  .vertical-line {
    width: 2px;
    position: absolute;
    top: 0;
    bottom: -5em;
    background: #1788ae;
    opacity: 0.5;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
  }

  @media (max-width: 650px) {
    .vertical-line {
      /* // left: 4%; */
      display: none;
    }
  }

  .vertical-line2 {
    width: 2px;
    position: absolute;
    top: -3em;
    bottom: 0;
    background: #eee;
    left: 100%;
    transform: translate(-50%, 0);
    z-index: 0;
  }
}

@media (max-width: 650px) {
  .work-section {
    font-size: 0.9em;

    h2 {
      font-size: 2em;
      margin-bottom: 1em;
    }
  }
}
.swiper {
      width: 800px;
      height: 400px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 300px;
      height: 400px;
      object-fit: cover;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 400px;
      height: 900px;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
    .container {
      position: relative;
      width: 100%;
    }
    
    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }
    
    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .container:hover .image {
      opacity: 0.3;
    }
    
    .container:hover .middle {
      opacity: 1;
    }
    
    .text {
      background-color: #3a3c3c;
      color: white;
      font-size: 16px;
      padding: 16px 32px;
    }
    .testimonial-section {
      .testimonial-title {
        width: max-content;
        position: relative;
        background-color: var(--light);
        border: 2px solid #1788ae;
        margin: 0 auto;
        font-size: 2em;
        margin-bottom: 1.5em;
        padding: 0.35em 0.65em;
        border-radius: 8px;
        color: #1788ae;
        z-index: 5;
      }
    
      @media (max-width: 650px) {
        .testimonial-title {
          font-size: 1.5em;
          border: none;
          padding: 0;
          margin-bottom: 0.8em;
        }
      }
      @media (max-width: 450px) {
        .testimonial-title {
          font-size: 1.25em;
          border: none;
          padding: 0;
          margin-bottom: 0.8em;
        }
      }
    }    
    .contact-section {
      padding-top: 2em;
      h2 {
        text-align: center;
        font-size: 2em;
        color: #1788ae;
        width: max-content;
        margin: 0 auto;
        position: relative;
        background-color: var(--light);
        border: 2px solid #1788ae;
        margin-bottom: 1.5em;
        padding: 0.35em 0.65em;
        border-radius: 8px;
    
        @media (max-width: 650px) {
          font-size: 1.5em;
          border: none;
          padding: 0;
          margin-bottom: 0.8em;
        }
      }
      .contact-form {
        display: flex;
        width: 90%;
        max-width: 1600px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        color: #444;
    
        @media (max-width: 990px) {
          flex-direction: column;
        }
    
        svg {
          vertical-align: middle;
        }
    
        .contact-img {
          width: 100%;
          text-align: center;
    
          svg {
            width: 100%;
            max-width: 700px;
          }
        }
    
        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          max-width: 700px;
    
          input,
          textarea,
          button {
            border: none;
            background-color: #1788ae18;
            padding: 1em;
            border-radius: 5px;
            outline: none;
            resize: none;
            margin: 0.5em 0 1.2em;
            border: 1px solid #ced4da;
            transition: border-color 0.05s ease-in-out, box-shadow 0.05s ease-in-out;
            &:focus {
              border-color: #1788ae;
              box-shadow: 0 0 0 0.2rem rgba(23, 136, 174, 0.25);
            }
          }
    
          button {
            background-color: #1788ae;
            font-family: inherit;
            margin-top: 1em;
            color: white;
            transition: transform 0.25s ease-in-out;
            cursor: pointer;
    
            &:hover {
              transform: scale(1.025);
            }
    
            &.sent {
              background-color: #47a248;
            }
    
            &.notSent {
              background-color: #f83d3d;
            }
          }
        }
      }
    }
    
    footer {
      margin: 3em 0 2em;
      p {
        text-align: center;
        color: #999;
        font-size: 0.75em;
      }
    
      .black-logo {
        display: flex;
        justify-content: center;
        cursor: pointer;
        width: max-content;
        margin: 0 auto;
        position: relative;
        z-index: 4;
    
        span {
          background: #1788ae;
          color: var(--light);
          padding: 0.5em 1em;
          border-radius: 5px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          display: flex;
          align-items: center;
          transition: left 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
            opacity 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          position: absolute;
          opacity: 0;
          z-index: -5;
          left: -5px;
          transform: translate(0%, 15%);
          width: max-content;
          svg {
            margin-left: 0.25em;
          }
    
          &::after {
            content: '';
            width: 12px;
            height: 12px;
            background: inherit;
            transform: rotate(45deg) translate(-50%, 0%);
            position: absolute;
            left: 50%;
            top: 0px;
          }
        }
    
        &:hover {
          span {
            left: 110%;
            opacity: 1;
          }
        }
      }
    
      .social-links {
        display: flex;
        width: max-content;
        margin: 0 auto;
        margin-top: 1em;
        font-size: 1.25em;
        li {
          a {
            color: rgb(136, 136, 136);
            color: #1788ae;
    
            @media (min-width: 650px) {
              i {
                transition: transform 0.2s ease-in-out;
                &:hover {
                  transform: scale(1.15);
                }
              }
            }
          }
        }
    
        li + li {
          margin-left: 1.5em;
        }
      }
    }
    
    @keyframes breathing {
      0% {
        transform: translateY(0);
      }
      25% {
        transform: translateY(-1em);
      }
      50% {
        transform: translateY(0em);
      }
      75% {
        transform: translateY(1em);
      }
      100% {
        transform: translateY(0em);
      }
    }
    
    @keyframes popShake {
      0% {
        transform: scale(1.1) rotate(0deg);
      }
      2% {
        transform: scale(1.1) rotate(10deg);
      }
      4% {
        transform: scale(1.1) rotate(-10deg);
      }
      6% {
        transform: scale(1.1) rotate(10deg);
      }
      8% {
        transform: scale(1.1) rotate(-10deg);
      }
      10% {
        transform: scale(1.1) rotate(10deg);
      }
      12% {
        transform: scale(1.1) rotate(-10deg);
      }
      14% {
        transform: scale(1.1) rotate(10deg);
      }
      16% {
        transform: scale(1.1) rotate(-10deg);
      }
      18% {
        transform: scale(1.1) rotate(10deg);
      }
      20% {
        transform: scale(1.1) rotate(-10deg);
      }
      22% {
        transform: scale(1.1) rotate(10deg);
      }
      24% {
        transform: scale(1.1) rotate(-10deg);
      }
      26% {
        transform: scale(1.1) rotate(10deg);
      }
      28% {
        transform: scale(1.1) rotate(-10deg);
      }
      30% {
        transform: scale(1.1) rotate(10deg);
      }
      32% {
        transform: scale(1.1) rotate(-10deg);
      }
      34% {
        transform: scale(1.1) rotate(-10deg);
      }
      36% {
        transform: scale(1.1) rotate(10deg);
      }
      38% {
        transform: scale(1.1) rotate(-10deg);
      }
      40% {
        transform: scale(1.1) rotate(10deg);
      }
      42% {
        transform: scale(1.1) rotate(-10deg);
      }
      44% {
        transform: scale(1.1) rotate(10deg);
      }
      46% {
        transform: scale(1.1) rotate(0deg);
      }
    }
    
    @keyframes shake {
      0% {
        transform: scale(1.1) translate3d(0em, 0, 0);
      }
      2% {
        transform: scale(1.1) translate3d(0.05em, 0, 0);
      }
      4% {
        transform: scale(1.1) translate3d(-0.05em, 0, 0);
      }
      6% {
        transform: scale(1.1) translate3d(0.05em, 0, 0);
      }
      8% {
        transform: scale(1.1) translate3d(-0.05em, 0, 0);
      }
      10% {
        transform: scale(1.1) translate3d(0.05em, 0, 0);
      }
      12% {
        transform: scale(1.1) translate3d(-0.05em, 0, 0);
      }
      14% {
        transform: scale(1.1) translate3d(0.05em, 0, 0);
      }
      16% {
        transform: scale(1.1) translate3d(-0.05em, 0, 0);
      }
      18% {
        transform: scale(1.1) translate3d(0.05em, 0, 0);
      }
      20% {
        transform: scale(1.1) translate3d(-0.05em, 0, 0);
      }
      22% {
        transform: scale(1.1) translate3d(0.05em, 0, 0);
      }
      24% {
        transform: scale(1.1) translate3d(-0.05em, 0, 0);
      }
      26% {
        transform: scale(1.1) translate3d(0.05em, 0, 0);
      }
      28% {
        transform: scale(1.1) translate3d(-0.05em, 0, 0);
      }
      30% {
        transform: scale(1.1) translate3d(0.05em, 0, 0);
      }
      32% {
        transform: scale(1.1) translate3d(-0.05em, 0, 0);
      }
      34% {
        transform: scale(1.1) translate3d(0.05em, 0, 0);
      }
      36% {
        transform: scale(1.1) translate3d(-0.05em, 0, 0);
      }
      38% {
        transform: scale(1.1) translate3d(0.05em, 0, 0);
      }
      40% {
        transform: scale(1.1) translate3d(-0.05em, 0, 0);
      }
      42% {
        transform: scale(1.1) translate3d(0.05em, 0, 0);
      }
      44% {
        transform: scale(1.1) translate3d(-0.05em, 0, 0);
      }
      46% {
        transform: scale(1.1) translate3d(0em, 0, 0);
      }
    }
    @media (max-width: 1000px) {
      .main-section .hero-section .about-section .about-me .about-me-text .top-skills-icons {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
      .main-section .hero-section .about-section .about-me .about-me-text .about-me-title,
    .main-section .hero-section .about-section .about-me .about-me-text .mern {
        text-align: center;
      }
      .main-section .hero-section .about-section .about-me .about-me-text .about-me-detail {
        width: 90%;
        margin: 0 auto;
        text-align: justify;
      }
      .main-section .hero-section .about-section .about-me .about-me-text .about-me-detail + .about-me-detail {
        margin-top: 0.75em;
      }
    }
    @media (max-width: 450px) {
      .main-section .hero-section .about-section .about-me .about-me-text .top-skills-icons {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 0.7em;
      }
      .main-section .hero-section .about-section .about-me .about-me-text .top-skills-icons svg {
        width: 35px;
        height: 35px;
      }
      .main-section .hero-section .about-section .about-me .about-me-text .about-me-title,
    .main-section .hero-section .about-section .about-me .about-me-text .mern {
        text-align: center;
      }
      .main-section .hero-section .about-section .about-me .about-me-text .mern {
        margin-top: 1em;
        margin-bottom: 1.5em;
      }
      .main-section .hero-section .about-section .about-me .about-me-text .about-me-detail {
        width: 90%;
        margin: 0 auto;
        text-align: justify;
      }
    }
    .main-section .hero-section .about-section .about-me .about-me-text .top-skills-icons div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: context-menu;
    }
    .main-section .hero-section .about-section .about-me .about-me-text .top-skills-icons div .tooltip {
      background-color: #8cc84b;
      color: var(--dark);
      padding: 0.5em 1.25em;
      font-weight: 600;
      border-radius: 50px;
      position: absolute;
      margin-bottom: 2em;
      top: -1.25em;
      -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
              box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
      opacity: 0;
      pointer-events: none;
      -webkit-transition: top 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: top 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .main-section .hero-section .about-section .about-me .about-me-text .top-skills-icons div .tooltip::after {
      content: "";
      width: 12px;
      height: 12px;
      background: inherit;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      position: absolute;
      bottom: -6px;
    }
    .main-section .hero-section .about-section .about-me .about-me-text .top-skills-icons div:hover .tooltip {
      opacity: 1;
      top: -3.25em;
    }
    .main-section .hero-section .about-section .about-me .about-me-text .top-skills-icons div + div {
      margin-left: 2em;
    }
    @media (max-width: 370px) {
      .main-section .hero-section .about-section .about-me {
        zoom: 90%;
      }
    }
    @media (max-width: 330px) {
      .main-section .hero-section .about-section .about-me {
        zoom: 85%;
      }
    }
    .main-section .hero-section .about-section .illustration {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
    }
    .main-section .hero-section .about-section .illustration .coder-img {
      width: 100%;
    }
    @media (max-width: 1000px) {
      .main-section .hero-section .about-section .illustration .coder-img {
        width: 60%;
        min-width: 270px;
      }
    }
    @media (max-width: 760px) {
      .main-section .hero-section .about-section .illustration {
        display: none;
      }
    }
    @media (max-width: 1000px) {
      .main-section .hero-section .about-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 80vh;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        padding: 2em 0;
      }
      .main-section .hero-section .about-me-text {
        width: 90% !important;
      }
    }
    @media (max-width: 450px) {
      .main-section .hero-section .about-section {
        padding: 1em 0;
      }
    }
    .main-section .hero-section .about-section.active {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
      left: 50%;
      pointer-events: all;
    }
    @media (max-width: 450px) {
      .main-section .hero-section .about-section {
        padding: 1em 0;
      }
    }
    @media (max-width: 450px){
    .contact-section .contact-form .contact-img svg {
   
      max-width: 330px;
      margin-top: -135px;
      margin-bottom: -120px;
     
    }
    .contact-section {
      background-color: #fff;
    
    }
    .contact input{
      color: #000000;

    }
    .contact textarea{
      color: #000000;
    }
    .contact label{
      color: #000000;
    }
  }


  @media (max-width: 450px){
    .container{
      width: 400px;
    }
    .container img{
      width: 400px;
      height: 200px;
    }
    .middle .text{
      width: 300px;
      height: 170px;
      font-size: 10px;
    }
    .swiper-button-next{
      color: transparent;
    }
    .swiper-button-prev{
      color: transparent;
    }
    .swiper-pagination{
      color: transparent;
    }
    .autoplay-progress{
      color: transparent;
    }
    .swiper-slide{
      height: 35%;
    }
.swiper{
  background-color: #fff;
  width:359px;
  height: 230px;
}
.testimonial-section{
  background-color: #fff;
}
.testimonial-title{
  border: #1788ae;
  border-radius: 20px;
}
  }